In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'Student': [1,2,3,4,5,6,7,8,9,10],
    'Prior_Experience': ['Yes','No','Yes','No','Yes','No','Yes','Yes','Yes','Yes'],
    'Course': ['Programming','Programming','History','Programming','English','Programming','Programming','Mathematics','Programming','Programming'],
    'Time': ['Day','Day','Night','Night','Day','Day','Day','Night','Night','Night'],
    'Liked': ['Yes','No','No','Yes','Yes','No','No','Yes','Yes','No']
}

df = pd.DataFrame(data)
df

   Student Prior_Experience       Course   Time Liked
0        1              Yes  Programming    Day   Yes
1        2               No  Programming    Day    No
2        3              Yes      History  Night    No
3        4               No  Programming  Night   Yes
4        5              Yes      English    Day   Yes
5        6               No  Programming    Day    No
6        7              Yes  Programming    Day    No
7        8              Yes  Mathematics  Night   Yes
8        9              Yes  Programming  Night   Yes
9       10              Yes  Programming  Night    No

In [3]:
# Function to calculate Gini Impurity
def gini_impurity(target_col):
    classes, counts = np.unique(target_col, return_counts=True)
    gini = 1 - np.sum((counts / np.sum(counts)) ** 2)
    return gini

# Function to calculate Gini Gain for a split attribute
def gini_gain(data, split_attribute, target_name='Liked'):
    total_gini = gini_impurity(data[target_name])
    
    # Get unique values for the attribute
    vals, counts = np.unique(data[split_attribute], return_counts=True)
    
    # Weighted Gini after splitting
    weighted_gini = np.sum([
        (counts[i]/np.sum(counts)) * gini_impurity(data[data[split_attribute] == vals[i]][target_name])
        for i in range(len(vals))
    ])
    
    # Gini Gain = Gini before - weighted Gini after
    gain = total_gini - weighted_gini
    return gain

In [4]:
attributes = ['Prior_Experience', 'Course', 'Time']
gains = {}

print("Gini Gain for each attribute:\n")

for attr in attributes:
    gains[attr] = gini_gain(df, attr)
    print(f"{attr}: {gains[attr]:.4f}")

# Find attribute with maximum Gini Gain
root_node = max(gains, key=gains.get)
print("\nRoot Node:", root_node)

Gini Gain for each attribute:

Prior_Experience: 0.0238
Course: 0.1571
Time: 0.0200

Root Node: Course